/* Oboji sve linkove koji upućuju na sajt Google u zeleno */
a[href*="google"] {
    color: green;
  }
  
  /* Oboji link koji upućuje na LINK group u crveno */
  a[href*="link-group"] {
    color: red;
  }
  
  /* Naizmjenično oboji paragrafe unutar #second-div u crveno i plavo */
  #second-div p:nth-of-type(odd) {
    color: red;
  }
  #second-div p:nth-of-type(even) {
    color: blue;
  }
  
  /* Dodaj "NEW" na kraj paragrafa 2 i 3 */
  #first-div > p:nth-of-type(1):after,
  #first-div > p:nth-of-type(2):after {
    content: " NEW";
    color: yellow;
  }
  
  /* Postavi italic stil na Paragraph 10 na hover */
 body > p:last-of-type:hover {
    font-style: italic;
  }